<div class="container", width:"200">
  <h1>Book List</h1>
  
  <% @books.each do |book| %>
    <div class="book-card">
      <h2 class="book-title"><%= book.title %></h2>
      <p class="book-author">by <%= book.author %></p>
      <%= link_to "Show this book", book %>
      <p class="book-description"><%= book.description %></p>
      <%= image_tag book.cover_image, alt: "Cover image of #{book.title}", class: "cover-image", width:"200", height:"300" %>
      
    </div>
  <% end %>
</div>
